extends layout

block content
  h1= title
  p Welcome to #{title}



  <a class="btn btn-primary" href="/chiefs">See the chiefs list</a>
  <a class="btn btn-primary" href="/dishes">See the dishes list</a>

br br

    <a class="btn btn-primary" href="/convert">Convert vegetables.xls to csv</a>
    <a class="btn btn-info" href="/updating">Updating Test</a>
    <a class="btn" href="/init">Initialize !</a>

